#home {
    height: 100vh;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    margin-top: 55px;
    margin-bottom: 50px;
}

.nav-link:hover{
    border-radius: 14px;
    transition-duration: 0.3s;
    background-color: darkgrey;
}

.btn {
    border-radius: 15px;
}



#skills {
    background-color: white;
    padding: 50px;
}
